{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

        <!-- Import Styles Personalizados -->
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <!-- Import Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% block css %}
        {% endblock %}

        <!-- Nome da Página -->
        <title>
            {% block title %}
                Send Email
            {% endblock %}
        </title>
    </head>

    <body>
        <header>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- <footer class="bg-light text-center text-lg-start">
            <div class="text-center p-3">
                © 2021 Copyright - Send Email
            </div>
        </footer> -->

        <!-- Import JS JQuery -->
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

        <!-- Import JS JQuery -->
        <script src="{% static 'js/jquery/jquery.mask.min.js' %}"></script>
        
        <!-- Import JS Bootstrap -->
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

        <!-- Import JS Bundle Bootstrap -->
        <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>    