{% extends 'email/base.html' %}

{% load static %}

{% block conteudo %}

	<p>Olá!</p>

	<p>Prezado(a) {{ first_name }},</p>

	<p>Seja bem-vindo a <strong>UNINCARE</strong></p>

	<p>Temos o prazer em lhe oferecer as boas-vindas e lhe parabenizar pelo seu recente cadastro em nosso sistema.</p>

	<p>Iremos trabalhar com atenção para lhe oferecer a cada dia os melhores serviços buscando sempre a excelência no atendimento e na qualidade.</p>

	<p>Aproveitamos a oportunidade para renovar votos de elevada estima e consideração.</p>

{% endblock conteudo %}
